<%= stylesheet_link_tag('index') %>
<div class="container">
  <div class="user-post">
    <h3>Post #1 by username</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam doloremque ex officiis quae veniam.
      Illum nobis numquam pariatur porro praesentium provident quas repellat. Accusamus deserunt iste laboriosam
      pariatur perspiciatis sequi.
    </p>
  </div>
  <div>
    <p>username comment 1</p>
    <p>username comment 2</p>
    <p>username comment 3</p>
    <p>username comment 4</p>
    <p>username comment 5</p>
    <p>username comment 6</p>
  </div>
</div>